<div class="tabbable tabs-left">
  <div class="title-header">
  <div class="page-header">
    <h4>Professor Reviews</h4>
              <span class="label label-info">Search terms: </span>
  <span class="label label-success"><%= id %></span>
  </div>
  
  </div>
  <ul class="nav nav-tabs">
    <% _.each(data, function(m) {  %>
     <li>
         <div class="prof-card" data-toggle="tooltip" title="Click name to see what other students are saying!">
            <a href="#<%= m.name.first %>" data-toggle="tab"><%= m.fullname() %></a>
            <div>
                <span class="label label-success">Endorsements:</span> <span class="badge"><%= m.endorse %></span> | 
                <span class="label label-important">Condemns:</span> <span class="badge"><%= m.condemn %></span>
            </div>
         </div>
    </li>
    <% }); %>
  </ul>
  <div class="tab-content">
  </div>
</div>
<div id="loading"><img src="../img/ajax-loader.gif"/></div>
<a class="previous btn btn-primary" href="#">Back</a>

