<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <% _.each(data, function(m) {  %>
     <li>
         <div class="prof-card">
            <a href="#<%= m.name.first %>" data-toggle="tab"><%= m.fullname() %></a>
            <div>
                <span class="label label-success">Endorse:</span> <span class="badge"><%= m.endorse %></span> | 
                <span class="label label-important">Condemn:</span> <span class="badge"><%= m.condemn %></span>
            </div>
         </div>
    </li>
    <% }); %>
  </ul>
  <div class="tab-content">
  </div>
</div>

<a class="previous" href="#">Back</a>

